@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ejercicio 2</h1>

    <!-- Botón para ir al formulario Create -->
    <a asp-controller="Home" asp-action="Create" class="btn btn-primary mt-3">
        Crear Nueva Película
    </a>
</div>
